
<% if user_signed_in? %>

   <h2 class="text-center">Bonjour user n°<%= params[:id] %>, voici ta page profil  </h2>
   <br/>

    <div class="text-center">
  <%if @user.avatar.attached?%>

  <%= image_tag @user.avatar, alt: 'avatar', class:"avatar" %>

  
<%else%>  
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
  <%end%>

  <h5>Changer d'avatar ?</h5>
    <%= form_tag user_avatars_path(@user), multipart: true do %>
    <%= file_field_tag :avatar %>
     <%= submit_tag "mettre à jour" %>
  <% end %>
  </div>


<br/><br/>
   <h3 class="text-center">Voici tous les events que tu as créés :  </h3>

<div class="container">
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
      <!-- ... -->
<% Event.all.each do |event| %>
  
  <% if current_user.id == event.admin_id %>
   <p> Titre :<%= event.title %></p>
   <a class="btn" style="background-color: #e3f2fd;" href="<%= event_path(event.id)%>" >Détails</a>
  
   <% end %>
   <% end %>

<p><%= link_to 'Edit ton profile', edit_user_registration_path%></p>

<%else%>
<div class="text-center">
<h1> Inscris toi pour voir ce contenu </h1>
</div>
<%end%>
<!-- ... -->
</div>
</div>
</div>
</div>
</div>