<% flash.each do |type, msg| %>
  <div class="alert alert-success" role="notice">
    <%= msg %>
  </div>
<% end %>

<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://www.acenet.edu/PublishingImages/Interior-Page-Heroes/2018ACE-1045.JPG?RenditionID=10');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Eventbrite</h1>
          <br/><br/><br/>

          <% if !user_signed_in? %>
          <a class="btn btn-outline-light btn-lg" role="button",<%= link_to "Sign up", new_user_registration_path%></a>
          <% else %>
          <a class="btn btn-outline-light btn-lg" role="button",<%= link_to "New event", new_event_path%></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="index">
  <% Event.all.each do |event| %>  
    <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Voici l event n° <%= event.id %><br/></h5>
      <p class="card-text">Organisé par notre administrateur No<%= event.admin_id %><br/></p>
      <p class="card-text">Il aura lieu le <%= event.start_date %> à la fameuse <%= event.location %> Arena<br/><br/></p>
      <p class="card-text">Pour la modique somme de <%= event.price %> centimes d'euros !<br/><br/></p>
      <p class="card-text">Son titre :  <%= event.title %><br/><br/></p>
      <p class="card-text">Le déroulé de cet événement :  <%= event.description %><br/><br/></p>
      
      <a class="btn" style="background-color: #e3f2fd;" href="<%= event_path(event.id)%>" >Détails</a>
    

    </div>
  </div>
  <% end %>
  </div>
</div>
