
<html>
  <body>
  <% flash.each do |type, msg| %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
  <% end %>
  
  <% if user_signed_in? %>
  <h1>Page new </h1>
    <!-- ... -->
    <div id= "form">
    <%= form_tag events_path(action: 'create'), method: "post" do %>

      
      <p class="label"><%= label_tag 'start_date :' %></p>
      <p class="box"><%= text_field_tag 'start_date', params["start_date"] %></p>
      <br /> <br />
    
      <p class="label"><%= label_tag 'duration :' %></p>
      <p class="box"><%= text_field_tag 'duration', params["duration"] %></p>
      <br /> <br />

    
      <p class="label"><%= label_tag 'title :' %></p>
      <p class="box"><%= text_field_tag 'title', params["title"] %></p>
      <br /> <br />

    
      <p class="label"><%= label_tag 'description :' %></p>
      <p class="box"><%= text_field_tag 'description', params["description"] %></p>
      <br /> <br />

    
      <p class="label"><%= label_tag 'price :' %></p>
      <p class="box"><%= text_field_tag 'price', params["price"] %></p>
      <br /> <br />
      
  
      <p class="label"><%= label_tag 'location :' %></p>
      <p class="box"><%= text_field_tag 'location', params["location"] %></p>
      <br /> <br />

      <%= submit_tag "Créer l'évènement" %>
      
    <% end %>

    <% else %>
    <h1>Connectez vous Chenapan</h1>
    <% end %>
    </div>
    <!-- ... -->

  </body>
 
</html>