<% flash.each do |type, msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<% if user_signed_in? %>
<div class="container">
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Nouvel évènement</h5>
  <!-- ... -->
  <div id= "form">
  <%= form_tag events_path(action: 'create'), method: "post" do %>

    
    <label for="start_date">Début de l'évèvement:</label>
		<br />
<input type="datetime-local" id="meeting-time"
       name="start_date" value=""
       min="2021-01-01T00:00" max="2500-06-14T00:00">
			 <p><%= params["start_date"] %></p>
    <br /> <br />

		<label for="duration">Durée:</label>
		<br />Veuillez sélectionner un multiple de 5 :p<br />
		<input type="number" name="duration">
		<p><%= params["duration"] %></p>
    <br /> <br />

  
    <p class="label"><%= label_tag 'Titre :' %></p>
    <p class="box"><%= text_field_tag 'title', params["title"], class: 'form-control' %></p>
    <br /> <br />

  
    <p class="label"><%= label_tag 'description :' %></p>
    <p class="box"><%= text_field_tag 'description', params["description"], class: 'form-control' %></p>
    <br /> <br />

  
    <p class="label"><%= label_tag 'Prix :' %></p>
    <p class="box"><%= text_field_tag 'price', params["price"], class: 'form-control' %></p>
    <br /> <br />
    

    <p class="label"><%= label_tag 'Localisation :' %></p>
    <p class="box"><%= text_field_tag 'location', params["location"], class: 'form-control' %></p>
    <br /> <br />

  
    <button class="btn" style="background-color: #e3f2fd;" type="submit">Créer l'évènement</button>
  <% end %>

  <% else %>
  <h1>Connectez vous Chenapan</h1>
  <% end %>
  </div>
  <!-- ... -->
  </div>
  </div>
</div>
</div>
</div>
</body>

</html>
