<% flash.each do |type, msg| %>
  <div class="alert alert-success" role="notice">
    <%= msg %>
  </div>
<% end %>

<h2 class="text-center">Bienvenue sur la page de l Event No<%= params[:id] %> !! <br> Tu veux plus de détails ? En voici : </h2>
<div class="container">
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
      
        <!-- ... -->


<% finder = Event.find(params[:id]) %>

        <p>Son titre :  <%= finder.title %><br/><br/>
        Sa description :  <%= finder.description %><br/><br/>
        Le nombre d inscrits : ON VERRA DEMAIN<br/><br/>
        Le mail du créateur :  <%= finder.admin.email %><br/><br/>
        Sa date de début et de fin : de <%= time_start = finder.start_date %> à <%= time_start + finder.duration %> <br/><br/>
        Le lieu de l événement :  <%= finder.location %> Arena<br/><br/>
        Son prix :  <%= finder.price %> centimes d'euros<br/><br/>
        
        <% if user_signed_in?  && finder.admin_id == current_user.id%>
        <a class="btn btn-outline-light btn-primary" role="button",<%= link_to "Mon espace événement", event_participations_path(params[:id])%></a>
        
        <p><%= link_to 'Modifie ton événement', edit_event_path%></p>

        <p><%= link_to 'Supprime ton événement', root_path%></p>  
        <%end%>
        <% if user_signed_in? && !(finder.admin_id == current_user.id)%>
        <a class="btn btn-outline-light btn-primary" role="button",<%= link_to "Participez ici", new_event_participation_path(params[:id])%></a>

        <% end %>

        </p>
        <!-- ... -->
      </div>
    </div>
  </div>
</div>