<% flash.each do |type, msg| %>
  <div class="alert alert-success" role="notice">
    <%= msg %>
  </div>
<% end %>

<h2 class="text-center">Bienvenue sur la page de l Event No<%= params[:id] %> !! <br> Tu veux plus de détails ? En voici : </h2>
<div class="container">
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
      
        <!-- ... -->


<% finder = Event.find(params[:id]) %>

        <p>Son titre :  <%= finder.title %><br/>
        Sa description :  <%= finder.description %><br/>
        Le nombre d inscrits : ON VERRA DEMAIN<br/>
        Le mail du créateur :  <%= finder.admin.email %><br/>
        Sa date de début et de fin : de <%= time_start = finder.start_date %> à <%= time_start + finder.duration %> <br/>
        Le lieu de l événement :  <%= finder.location %> Arena<br/>
        Son prix :  <%= finder.price %> centimes d'euros<br/>
        </p>
        <!-- ... -->
      </div>
    </div>
  </div>
</div>